nav {
    font-family: 'DejaVu Sans', sans-serif;
    line-height: 4em;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
    border: 2px dotted black;
    border-radius: 6px;
    background-color: lightyellow;
}

article {
    font-family: 'Cinzel Decorative', cursive;
    padding: 2em;
    margin: 1em;
    border: 2px solid black;
    border-radius: 6px;
    background-color: azure;
}

footer {
    padding: 2em;
    margin: 2em 1em 1em 1em;
    border: 2px solid black;
    border-radius: 6px;
    background-color: gainsboro;
}

.page-title {
    font-family: 'Cinzel', serif;
    text-align: center;
}

.chapter-title {
    font-family: 'Cinzel', serif;
}

@media (min-width: 420px) {
    .page {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: minmax(50px, auto);
    }

    header {
        grid-column: 1/-1;
    }

    nav {
        grid-row: 2 / 8;
        padding: 2em 0.2em 0.2em 1em;
    }

    footer {
        grid-column: 1/-1;
    }

    .chapter-title {
        grid-column-start: 2;
        margin-left: 3em;
    }
}

@media (min-width: 800px) {
    .page {
        grid-template-columns: 1fr 2fr 2fr;
    }
    
    nav {
        grid-row: 2 / 6;
    }
}


@media (min-width: 1140px) {
    .page {
        grid-template-columns: 1fr 2fr 2fr 2fr;
    }

    nav {
        grid-row: 2 / 5;
    }
}